<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,51}</string>
                <key>spriteSourceSize</key>
                <string>{29,51}</string>
                <key>textureRect</key>
                <string>{{93,105},{29,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,43}</string>
                <key>spriteSourceSize</key>
                <string>{38,43}</string>
                <key>textureRect</key>
                <string>{{1,164},{38,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>back3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,40}</string>
                <key>spriteSourceSize</key>
                <string>{20,40}</string>
                <key>textureRect</key>
                <string>{{71,172},{20,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,40}</string>
                <key>spriteSourceSize</key>
                <string>{20,40}</string>
                <key>textureRect</key>
                <string>{{71,172},{20,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>front1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,50}</string>
                <key>spriteSourceSize</key>
                <string>{29,50}</string>
                <key>textureRect</key>
                <string>{{93,158},{29,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>front2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,43}</string>
                <key>spriteSourceSize</key>
                <string>{40,43}</string>
                <key>textureRect</key>
                <string>{{53,47},{40,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>front3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,50}</string>
                <key>spriteSourceSize</key>
                <string>{35,50}</string>
                <key>textureRect</key>
                <string>{{1,47},{35,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>front4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,46}</string>
                <key>spriteSourceSize</key>
                <string>{23,46}</string>
                <key>textureRect</key>
                <string>{{46,172},{23,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,50}</string>
                <key>spriteSourceSize</key>
                <string>{23,50}</string>
                <key>textureRect</key>
                <string>{{97,1},{23,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,44}</string>
                <key>spriteSourceSize</key>
                <string>{38,44}</string>
                <key>textureRect</key>
                <string>{{1,84},{38,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>left3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,44}</string>
                <key>spriteSourceSize</key>
                <string>{46,44}</string>
                <key>textureRect</key>
                <string>{{1,1},{46,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,44}</string>
                <key>spriteSourceSize</key>
                <string>{38,44}</string>
                <key>textureRect</key>
                <string>{{47,92},{38,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>right1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,50}</string>
                <key>spriteSourceSize</key>
                <string>{23,50}</string>
                <key>textureRect</key>
                <string>{{95,53},{23,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,44}</string>
                <key>spriteSourceSize</key>
                <string>{38,44}</string>
                <key>textureRect</key>
                <string>{{1,124},{38,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>right3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,44}</string>
                <key>spriteSourceSize</key>
                <string>{46,44}</string>
                <key>textureRect</key>
                <string>{{49,1},{46,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,44}</string>
                <key>spriteSourceSize</key>
                <string>{38,44}</string>
                <key>textureRect</key>
                <string>{{47,132},{38,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zhanshi_LV1.png</string>
            <key>size</key>
            <string>{123,219}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:444a117a90b820f2b3e9989ec404e4e9:3ffa668e3ff6822d49fc17e3542bbaf5:94ebcae8f00d4cdeb50ece856640f622$</string>
            <key>textureFileName</key>
            <string>zhanshi_LV1.png</string>
        </dict>
    </dict>
</plist>
